*.class

# Package Files #
*.war
*.ear

# Eclipse #
.classpath
.project
.settings/
bin/

# IDEA #
.idea/
*.iml
out/

# Maven #
dependency-reduced-pom.xml
target/

# Gradle #
.gradle/

# logs #
*.log
logs/
system/